/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
    background-color: $color-secondary;
    padding: 30px 0;
}

.site-branding {
    @include column(2);
}

.logo-desktop {
    background: url(assets/images/logo.svg) no-repeat;
    display: block;
    height: 60px;
    text-indent: -999999px;
    outline: none;
}

.site-menu {
    @include column(9);
    margin-top: 20px;
}

// menu header changes
.site-menu {
    text-align: right;
    & ul {
        > li {
            display: inline-block;
            position: relative;
            > a {
                font-family: $font-secondary-light;
                color: #fff;
                display: block;
                text-transform: uppercase;
                font-size: 1.1em;
                margin-left: 20px;
                font-weight: 500;
                letter-spacing: 1px;
                position: relative;
                span {
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 100%;
                    left: 0;
                    bottom: -5px;
                    background-color: #fff;
                    transform: scaleX(0);
                    transition: .3s ease-out;
                    border-radius: 25px;
                }
                &:hover {
                    & span {
                        transform: scaleX(1);
                        transition: .3s ease-out;
                    }
                }

            }
        }
    }
}

.site-menu {
    & .current-menu-item {
        & a {
            color: lighten($color-secondary, 60%) !important;
            & span {
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                left: 0;
                bottom: -5px;
                background-color: lighten($color-secondary, 60%);
                transform: scaleX(1);
                transition: .3s ease-out;
                border-radius: 25px;
            }
        }
    }
}


// # menu header changes
.mega-menu {

}

.menu-mobile {
    @include column(1);
    margin-top: 25px;
    cursor: pointer;
    & span {
        display: block;
        height: 2px;
        width: 20px;
        background-color: #fff;
        margin-bottom: 3px;
        border-radius: 2px;
    }
}

.breadcrumb {
    background-color: $color-primary;
    padding: 40px 0;
    margin-bottom: 70px;
}

.breadcrumb-container {
    & ul {
        & li {
            text-transform: uppercase;
            color: $light;
            font-weight: bold;
            & a { 
                font-size: .8em;
                color: $light;
            }
            .separator {
                margin: 5px;
            }
        }
    }
}

// Dropdown mega menu

.mega-menu {
    width: 100%;
    position: absolute;
    background-color: pink;
    height: 100vh;
    z-index: 14;
    top: -110%;
}

.mega-menu.slide {
    top: 0;
}

.slide,.hide{transition: all 0.2s ease;}

.overlay{left:0;top:50px;transition: all 0.2s ease;}
.overlay.show{position:fixed;left:50%;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.8);z-index:9999}