/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
    background-color: $color-secondary;
    padding: 30px 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
}

.site-branding {
    @include column(2);
}

.logo-desktop {
    background: url(assets/images/logo.svg) no-repeat;
    display: block;
    height: 60px;
    text-indent: -999999px;
    outline: none;
}

.site-menu {
    @include column(9);
    margin-top: 20px;
}

// menu header changes
.site-menu {
    text-align: right;
    // Search form
    & form {
        width: 300px;
        position: absolute;
        top: -7px;
        float: right;
        right: 338px;
        & input[type^='search'] {
            display: block;
            float: right;
            width: 0%;
            border: 1px solid #fff;
            padding: 10px 15px;
            font-weight: 700;
            margin: 0;
            opacity: 0;
            transition: .5s;
        }
        & i {
            z-index: 10;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            top: 10px;
            right: 20px;
            color: $light;
            position: absolute;
            &:hover {
                cursor: pointer;
            }
        }
    }
    // Search form active class
    & .search-active {
        & input[type^='search'] {
            width: 100%;
            opacity: 1;
            transition: .5s;
        }
        & i {
            color: #103357;
        }
    }

    // # Search form
    & ul {
        > li {
            display: inline-block;
            position: relative;
            > a {
                font-family: $font-secondary-light;
                color: #fff;
                display: block;
                text-transform: uppercase;
                font-size: 1.1em;
                margin-left: 20px;
                font-weight: 500;
                letter-spacing: 1px;
                position: relative;
                span {
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 100%;
                    left: 0;
                    bottom: -5px;
                    background-color: #fff;
                    transform: scaleX(0);
                    transition: .3s ease-out;
                    border-radius: 25px;
                }
                &:hover {
                    & span {
                        transform: scaleX(1);
                        transition: .3s ease-out;
                    }
                }

            }
        }
    }
}

.site-menu {
    position: relative;
    & .current-menu-item {
        & a {
            & span {
                position: absolute;
                display: block;
                height: 1px;
                width: 100%;
                left: 0;
                bottom: -5px;
                background-color: #fff;
                transform: scaleX(1);
                transition: .3s ease-out;
                border-radius: 25px;
            }
        }
    }
}


// # menu header changes

.menu-mobile {
    @include column(1);
    margin-top: 25px;
    cursor: pointer;
    & span {
        display: block;
        height: 2px;
        width: 20px;
        background-color: #fff;
        margin-bottom: 3px;
        border-radius: 2px;
    }
}

// Dropdown mega menu

.mega-menu {
    width: 100%;
    position: absolute;
    background: $color-primary url('http://shoppingpiratas.com.br/wp-content/uploads/2017/09/mega-menu.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 14;
    top: -800%;
    padding: 85px 0;
    & p {
        color: #fff;
        margin-bottom: 0;
        font-weight: bold;
    }
    & .search-bar {
        @include column(12);
        position: relative;
        margin-bottom: 50px;
        & input {
            width: 100%;
            border-radius: 360px;
        }
        & .fa {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            height: auto;
            display: block;
            padding: 10.5px;
            position: absolute;
            top: -2px;
            right: 5px;
            border-radius: 0 360px 360px 0;
        }
    }
    form {
        padding-bottom: 10px;  
        top: 0;
        width: 100%;
        display: block;
        position: relative;
    
    }
    & .top-footer {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        width: 100%;        
    }
}

.mega-menu.slide {
    top: 0;
}

.slide,.hide{transition: all 0.2s ease;}

.overlay{left:0;top:50px;transition: all 0.2s ease;}
.overlay.show{position:fixed;left:50%;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.8);z-index:9999}
 

.menu-left {
    @include column(6);
    & ul {
        & li {
            margin-bottom: 20px;
            width: fit-content;
            & a {
                position: relative;
                font-size: 3em;
                text-transform: uppercase;
                font-family: $font-secondary-light;
                color: $light;
                & span {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    width: 0%;
                    background-color: #fff;
                    transition: .3s;
                }
            }
            &:hover span{
                width: 100%;
                background-color: $light;
                transition: .3s;
            }
        }
    }
}

.menu-right {
    float: right;
    width: 50%;
    & .menu-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 25px;
        & p {
            display: table;
            position: absolute;
            left: -30px;
            text-align: right;
            opacity: 0;
            transition: .3s ease-out;
        }
        & i {
            font-size: 25px;
            color: #fff;
        }
        &:hover p {
            opacity: 1;
            transition: .3s ease-out;
        }

    }
    & ul {
        @include column(12);
        & li {
            @include column(6);
            font-family: $font-secondary-light;
            text-align: left;
            font-size: 1.2em;
            line-height: 48px;
            text-transform: uppercase;
            & a {
                position: relative;
                color: #fff;
                transition: .3s ease-out;
                & span {
                    display: block;
                    position: absolute;
                    bottom: -4px;
                    height: 1px;
                    width: 0%;
                    background-color: #fff;
                    transition: .3s;
                }
            }
            &:hover span{
                width: 100%;
                background-color: $light;
                transition: .3s;
            }
        }
    }
}
// #mega-menu