/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == biggie {
		@media (max-width : 1600px) { @content; }
	}
	@if $point == tablet {
		@media (max-width : 1024px) { @content; }
	}
	@else if $point == phone {
		@media (max-width : 768px) { @content; }
	}
}

@mixin breakpoint($point) {
	   @if $point == desktop {
	     @media (min-width: 70em) { @content ; }
	  }
	   @else if $point == laptop {
	     @media (min-width: 64em) { @content ; }
	  }
	    @else if $point == tablet {
	     @media (min-width: 50em) { @content ; }
	  }
	   @else if $point == phablet {
	     @media (min-width: 37.5em)  { @content ; }
	  }
	  @else if $point == mobileLarge {
	     @media (max-width: 415px)  { @content ; }
	  }
	  @else if $point == mobileMedium {
	     @media (max-width: 375px)  { @content ; }
	  }
	  @else if $point == mobileSmall {
	     @media (max-width: 320px)  { @content ; }
	  }
}


/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}
}