/* ==========================================================================
   Single lojas
   ========================================================================== */


.lojas-slider {
    @include column(6);
}


.lojas-slider {
    position: relative;
    & img {
        max-width: 100%;
    }
}

// slider single lojas
.owl-single-lojas,
.lojas {
    & .owl-prev, .owl-next {
        opacity: 1;
        background-color: $color-secondary;
        & i {
            color: $light;
        }
        &:hover {
            background-color: darken($color-secondary, 10%);
        }
    }
}

.cineshow {
    & .owl-prev, .owl-next {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
        & i {
            color: $light;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

.owl-single-lojas {
    & .owl-prev {
        left: -83px;
    }
}

.owl-single-lojas {
    & .owl-next {
        right: -83px;
    }
}

.owl-single-lojas {
    & .owl-dots {
        text-align: center;
        bottom: 15px;
        position: absolute;
        width: 100%;
        & .owl-dot {
            display: inline-block;
            background-color: $light;
            width: 10px;
            height: 10px;
            margin-right: 5px;
            & span {
                display: block;
            }
            &.active {
                background-color: $color-secondary;
            }
            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}


//end slider single lojas

.lojas-info {
    @include column(5);
    @include push(1);
}


.lojas-info {
    text-align: left;
    padding-left: 50px;
    & h4 {
        font-size: 1.4em;
        text-transform: uppercase;
        font-family: $font-secondary-regular;
        margin-bottom: 20px;
        color: $color-primary;
    }
    & p {
        margin: 5px 0;
        font-weight: 400;
    }
}

.lojas-info {
    & ul {
        & li {
            text-transform: uppercase;
            font-size: .8em;
            margin-bottom: 10px;
            & span {
                font-weight: bold;
            }
        }
    }
    & .social-links {
        margin-top: 20px;
        & li {
            display: inline-block;
            & a { 
                display: block;
                width: 40px;
                height: 40px;
                border: 2px solid $color-secondary;
                border-radius: 7px;
                position: relative;
                color: $color-secondary;
                font-size: 1em;
                transition: all .2s ease-in-out;
                & i {
                    position: absolute;
                    top: 12px;
                    left: 11px;
                }
                & .fa-facebook {
                    left: 13px;
                }
                &:hover {
                    transition: all .2s ease-in-out;
                    background: $color-secondary;
                    color: $light;
                }
            }
        }
    }
}
